/* added margin bottom so that footer not overlap with content as were doing with fixed-bottom */
/* added margin top so that forms have some space at top */
.container {
  margin-bottom: 5rem;
  margin-top: 3rem;
}

.custom-color {
  background-color: #330b03;
}

body {
  background-color: #e1f2da;
  font-size: 1rem;
}

.custom-card-body {
  background-color: #e1f2da;
}

/* making footer to remain at bottom */
.custom-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #330b03;
  color: white;
  text-align: center;
  padding-top: 1rem;
}

.custom-text-color {
  color: #330b03;
}

.custom-width {
  width: 25rem;
}

a.title-links {
  color: white;
  text-decoration: none;
}

a.title-links :hover {
  color: grey;
  /* text-decoration: none; */
}

.custom-effect {
  transition: all 0.5s ease-in-out;
}

.custom-effect:hover {
  box-shadow: inset 0px 0px 8px #89ec92, 0 0 15px green;
  transform: scale(1.1);
}

@media only screen and (max-width: 422px) {
  .custom-width {
    width: 15rem;
  }
}
